:host ::ng-deep .ck.ck-editor__editable.ck-read-only {
	background: #fafafa;
	color: #888;
}

.simple-box {
	padding: 10px;
	margin: 1em 0;

	background: rgba( 0, 0, 0, 0.1 );
	border: solid 1px hsl(100, 20%, 9%);
	border-radius: 2px;
}

.placeholder {
	background: #696969;
	color: coral;
}
